.recharts-tooltip-item-value {
    font-weight: bold;
}

.list .chart {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
}

.list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}