.newTransaction form {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 1rem;
}

#cancel {
    background-color: rgb(172, 0, 0);
}

#cancel:hover {
    background-color: red;
    border-color: transparent;
}