div.transactionItem {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: start;
    border: 2px solid white;
    margin: 10px auto;
    padding: 10px 30px;
    border-radius: 10px;
    height: 75px;
}

div.transactionItem .amount {
    grid-row: span 2;
    justify-self: end;
    align-self: center;
}

div.transactionItem .category {
    color: gray;
}
