.list .header,
.list .year{
    display: grid;
    grid-template-columns: 1.5fr repeat(12, 1fr);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list .month {
    display: grid;
    grid-template-columns: 6fr 1fr;
}

.list .month button {
    padding: 0;
    margin: auto 0;
}