.rules {
    width: fit-content;
}

.import {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.import button{
    width: fit-content;
}

.buttons {
    display: flex;
    gap: 20px;
    margin: 20px auto 0 auto;
    width: fit-content;
}