.keywords {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 1rem;
    width: 50%;
    margin: 0 auto;
}

.keywords button {
    grid-column: span 2;
    width: 50%;
    margin: auto;
}

.keywordList {
    width: 50%;
    margin: 0 auto;
}

.keyword {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    justify-items: start;
    align-items: center;
    border: 2px solid white;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 10px;
    height: 75px;
}

.keyword button {
    justify-self: end;
}