.form {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 1rem;
    width: 50%;
    margin: 0 auto;
}

.form button {
    grid-column: span 2;
    width: 50%;
    margin: auto;
}

.header, .item {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
    column-gap: 5px;
    justify-items: start;
    align-items: center;
    margin: 10px auto;
    border-radius: 10px;
}


.actions {
    justify-self: end;
}

.item hr {
    grid-column: 1 / -1;
    width: 100%;
    margin-top: 10px;
}