button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6em;

    border-radius: 8px;
    border: 1px solid transparent;

    padding: 0.6em 1.2em;

    font-size: 1em;
    font-weight: 500;
    font-family: inherit;

    background-color: var(--button-default-background);
    color: var(--button-default-text);

    cursor: pointer;

    transition: border-color 0.25s;
}

button:hover:enabled {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.red {
    background-color: rgb(172, 0, 0);
    color: var(--button-light);
}

.red:hover:enabled {
    background-color: red;
    border-color: transparent;
}

.blue {
    background-color: rgb(0, 61, 153);
    color: var(--button-light);
}

.blue:hover:enabled {
    background-color: rgb(0, 102, 255);
    border-color: transparent;
}

.green {
    background-color: rgb(0, 102, 0);
    color: var(--button-light);
}

.green:hover:enabled {
    background-color: green;
    border-color: transparent;
}

.white {
    background-color: rgb(218, 218, 218);
    color: var(--button-dark);
}

.white:hover:enabled {
    background-color: rgb(255, 255, 255);
    border-color: transparent;
}