.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 20px;
}

.form div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.form button {
    width: 50%;
    margin: auto;
}