.header {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    column-gap: 5px;
    justify-items: start;
    align-items: center;
    margin: 10px auto;
    border-radius: 10px;
}

.actions {
    justify-self: end;
}

.empty {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.empty i {
    color:gray;
    font-size: 5em;
}