.transactionItem {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 2fr;
    column-gap: 5px;
    justify-items: start;
    align-items: center;
    margin: 10px auto;
    border-radius: 10px;
}

.transactionItem .amount {
    justify-self: end;
}

.transactionItem .category {
    color: gray;
}

.transactionItem .category.with-link:hover {
    text-decoration: underline;
    color: rgb(97, 97, 97);
}

.transactionItem .actions {
    display: flex;
    gap: 5px;
    grid-row: span 2;
    justify-self: end;
}

.transactionItem button {
    grid-row: span 2;
    justify-self: end;
}

.transactionItem hr {
    grid-column: 1 / -1;
    width: 100%;
    margin-top: 10px;
}