.list {
    border: 1px solid gray;
    border-radius: 10px;
}

.container.empty {
    flex: 1;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.month {
    display: flex;
    justify-content: space-between;
}*/

.header {
    display: grid;
    grid-template-columns: 0.5fr 1fr 2fr 1fr 0.5fr 1.5fr;
    column-gap: 5px;
    justify-items: start;
    align-items: center;
    padding: 10px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--list-header-background);
}

.actions {
    display: flex;
    gap: 5px;
}

.amount, .actions {
    justify-self: end;
}