.item {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 2fr;
    column-gap: 5px;
    justify-items: start;
    align-items: center;
    margin: auto;
    padding-top: 10px;
}

.item.ignored p{
    color: dimgrey;

}
.item.ignored{
    background-color: black;
}

.amount {
    justify-self: end;
}

.category {
    color: gray;
}

.category.with-link:hover {
    text-decoration: underline;
    color: rgb(97, 97, 97);
}

.actions {
    display: flex;
    gap: 5px;
    grid-row: span 2;
    justify-self: end;
}

.item button {
    grid-row: span 2;
    justify-self: end;
}

.item hr {
    grid-column: 1 / -1;
    width: 100%;
    margin-top: 10px;
}

.item input[type='checkbox'] {
    width: 30px;
    height: 30px;
    align-self: center;
}

.item input[type='checkbox']:checked {
    accent-color: rgb(0, 61, 153);
}

.item input[type='checkbox']:hover {
    accent-color: rgb(0, 102, 255);
}