.month {
    display: flex;
    justify-content: space-between;
}

.header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 0.5fr 1.5fr;
    column-gap: 5px;
    justify-items: start;
    align-items: center;
}

.amount, .actions {
    justify-self: end;
}