.item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 0.5fr 1.5fr;
    column-gap: 5px;
    justify-items: start;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid grey;
}

.item:last-child {
    border-bottom: none;
}

.item.ignored p {
    color: dimgrey;

}

.item.ignored {
    background-color: black;
}

.no-year,
.description,
.category,
.amount {
    grid-row: span 2;
}

.amount {
    justify-self: end;
}

.category {
    color: rgba(255, 255, 255, 0.87);
}

.category.with-link:hover {
    text-decoration: underline;
    color: rgb(97, 97, 97);
}

.actions {
    display: flex;
    gap: 5px;
    grid-row: span 2;
    justify-self: end;
}

.item button {
    grid-row: span 2;
    justify-self: end;
}

.item hr {
    grid-column: 1 / -1;
    width: 100%;
}

.item input[type='checkbox'] {
    width: 30px;
    height: 30px;
    align-self: center;
}

.item input[type='checkbox']:checked {
    accent-color: rgb(0, 61, 153);
}

.item input[type='checkbox']:hover {
    accent-color: rgb(0, 102, 255);
}