.list {
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.list.empty {
    flex: 1;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid grey;
}

/*.month {
    display: flex;
    justify-content: space-between;
}*/

.header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 0.5fr 1.5fr;
    column-gap: 5px;
    justify-items: start;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid grey;
    background-color: #333333;
}

.actions {
    display: flex;
    gap: 5px;
}

.amount, .actions {
    justify-self: end;
}