.transactionItem {
    display: grid;
    grid-template-columns: 65% 20% 15%;
    column-gap: 10px;
    justify-items: start;
    align-items: center;
    border: 2px solid white;
    margin: 10px auto;
    padding: 10px 30px;
    border-radius: 10px;
    height: 75px;
}

.transactionItem .amount {
    grid-row: span 2;
    justify-self: end;
    align-self: center;
}

.transactionItem .category {
    color: gray;
}

.transactionItem button {
    grid-row: span 2;
    justify-self: center;
}