.iconPicker {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: fit-content;
    gap: 5px;
    align-items: center;
}

.icon {
    width: 50px;
    height: 50px;
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.icon i {
    font-size: xx-large;
    margin: auto;
    display: block;
}

.icon:hover {
    cursor: pointer;
    background-color: var(--item-background);
}

.selected {
    border: 2px solid white;
}