.form {
    display: flex;
    flex-direction: column;
}

/*.form.cols-1 {
    display: grid;
    grid-template-columns: 1fr;
}

.form.cols-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
}*/

.filter {
    border-top: 1px solid grey;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title, .filter {
    padding: 15px 10px;
}

.subForm {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    row-gap: 5px;
    column-gap: 10px;
}

.filter label {
    justify-self: start;
    font-size: small;
}

.rangeSelector {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr;
}

.periodSelector {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hidden {
    display: none;
}