.filters {
    width: 45%;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
}

.form.cols-1 {
    display: grid;
    grid-template-columns: 1fr;
}

.form.cols-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
}

.form fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    padding: 20px;
}

.form fieldset label {
    justify-self: start;
}

.amount div {
    display: inline-flex;
    gap: 5px;
}

.form input[type="number"] {
    width: 100%;
    min-width: 0;
}