.form {
    display: flex;
    flex-direction: column;
}

/*.form.cols-1 {
    display: grid;
    grid-template-columns: 1fr;
}

.form.cols-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
}*/

.filter {
    border-top: 1px solid grey;
}

.title, .filter {
    padding: 15px 10px;
}

.filter h4 {
    margin-bottom: 10px;
}

.subForm {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    row-gap: 5px;
    column-gap: 10px;
}

.filter label {
    justify-self: start;
    font-size: small;
}

.filter input {
    padding: 5px;
    border-radius: 5px;
}

.date .subForm div:first-of-type {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr;
}

.amount input[type="number"] {
    width: 90%;
    margin-right: 4px;
}