.stats {
  width: 100%;
}

.statRow {
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 80px;
  gap: 20px;
}

.chartRow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 10px;

  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 100%;
}

.label {
  color: grey;
}

.data {
  font-size: x-large;
  font-weight: bold;
}