.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.dateRange {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.dateRange p {
    grid-column: span 2;
    margin-bottom: 5px;
}

.dateRange label {
    display: block;
    font-size: small;
}

.budget {
    align-self: center;
}