#root {
  min-width: 100%;
  min-height: 100%;
}

main {
  /*transition: margin 1s 0.5s;*/
  margin-left: 250px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main.collapsed {
  /*transition: margin 1s 0.5s;*/
  margin-left: 60px;
}

section {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}