.categoryPage .chart {
    width: 70%;
    height: 100px;
    margin: auto;
}

.transactionListContainer {
    width: 50%;
    margin: 0 auto;
}

.categoryPage section#budget button.setBudget {
    width: 20%;
    margin: auto;
}