.item {
    display: grid;
    grid-template-columns: 0.5fr 2fr 4fr 2fr;
    justify-items: start;
    align-items: center;
    height: 75px;
    background-color: var(--list-item-background);
}

.item:nth-child(odd) {
    background-color: var(--list-item-background-2);
}

.item:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.item:hover {
    cursor: pointer;
    background-color: var(--list-item-background-hover);
}

.icon {
    grid-row: span 2;
    font-size: x-large;
    justify-self: center;
}

.description {
    grid-row: span 2;
}

.actions {
    display: flex;
    gap: 5px;
    justify-self: end;
    margin-right: 20px;
    grid-row: span 2;
}