.categoryItem {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    justify-items: start;
    align-items: center;
    border: 2px solid white;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 10px;
    height: 75px;
}

.categoryItem .goal {
    color: gray;
}

.categoryItem .description {
    grid-row: span 2;
}

.categoryItem .actions {
    display: flex;
    gap: 5px;
    justify-self: end;
    grid-row: span 2;
}
